@model Flights.Models.AddFlightModel
@{
  
}

<html>

<head>
    <link rel="stylesheet" href="~/css/Externalstyles.css" asp-append-version="true" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-0"> </div>
        <div class="col-md-0"></div>
            <h2 class="class3" style="padding-inline-start:150px;">ADD FLIGHT DETAILS</h2>
            <form method="post" action="AddFlight">


                <div class="form-group">
                    <label for="" class="class1"> Flight Id</label>
                    <input type="text" style="width:590px;" class="form-control" asp-for="flightid" placeholder="Enter Flight Id" required>

                </div>
                <div class="grid-container">
                    <div class="form-group" class="grid-item">
                        <label for="" class="class1">Departure Destination</label>
                        <input type="text" style="width:250px;" class="form-control" asp-for="departure_destination" placeholder="Enter Depature destination" required>
                    </div>
                    <div class="form-group" class="grid-item">
                        <label for="" class="class1">Departure Date</label>
                        <input type="datetime-local" style="width:250px;" class="form-control" asp-for="departure_date" placeholder="Enter departure date" required>
                    </div>
                    <div class="form-group" class="grid-item">
                        <label for="" class="class1">Arrival Destination</label>
                        <input type="text" style="width:250px;" class="form-control" asp-for="arrival_destination" placeholder="Enter Arrival destination" required/>
                    </div>

                    <div class="form-group" class="grid-item">
                        <label for="" class="class1">Arrival Date</label>
                        <input type="datetime-local" style="width:250px;" class="form-control" asp-for="arrival_date" placeholder="Enter Arrival date" required >
                    </div>
                    </div>
                <div class="contain">
                        
                    <div class="btn"> @Html.ActionLink("Back to list","Flightlist","Flight",null,new {@class="btn btn-primary"})</div>
                    <button type="submit" class="btn btn-primary" class="btn">Save Flight</button>
                </div>
                @Html.Raw(ViewBag.Message1)
               <b> <p style="color:red">@ViewBag.Message</p></b>
               
                </form>
         
              
              </div>
                </body>
            
            </html>
