@model Flights.Models.UpdateEmployeeViewModel
@{
}
<html>

<head>
    <link rel="stylesheet" href="~/css/Externalstyles.css" asp-append-version="true" />
    </head>
    <body>
<div class="container">
    <div class="row">
        <div class="col-sm-0"> </div>
        <div class="col-md-0">
            <h2 class="class3" style="padding-inline-start:90px;">EDIT FLIGHT DETAILS</h2>
            <form method="post" action="Editflight">
                <div class="grid-container">
                    <div class="form-group" class="grid-item">

                        <label for="" class="class1">Travel Id</label>
                        <input type="text" class="form-control" asp-for="id" readonly>

                    </div>

                    <div class="form-group" class="grid-item">
                        <label for="" class="class1"> Flight Id</label>
                        <input type="text" class="form-control" asp-for="flightid" required>

                    </div>
                    <div class="form-group" class="grid-item">
                        <label for="" class="class1">Depature Destination</label>
                        <input type="text" class="form-control" asp-for="departure_destination" required>
                    </div>
                    <div class="form-group" class="grid-item">
                        <label for="" class="class1">Departure Date</label>
                        <input type="datetime-local" class="form-control" asp-for="departure_date" required>
                    </div>
                    <div class="form-group" class="grid-item">
                        <label for="" class="class1">Arrival Destination</label>
                        <input type="text" class="form-control" asp-for="arrival_destination" required>
                    </div>

                    <div class="form-group" class="grid-item">
                        <label for="" class="class1">Arrival Date</label>
                        <input type="datetime-local" class="form-control" asp-for="arrival_date" required>
                    </div>
                </div>

                <br>
                <br>
                <div class="contain">
                        <div class="btn"> @Html.ActionLink("Back to list","Flightlist","Flight",null,new {@class="btn btn-primary"})</div>
                    <button type="submit" class="btn btn-primary" class="btn">Update Flight</button>

                   <!-- <button type="submit" class="btn btn-danger" class="btn" asp-action="Deleteflight" asp-controller="Flight">Delete</button>-->
                </form>
              
                </div>
               <b> <p style="color:red">@ViewBag.Message</p></b>
              


            
</body>
</html>